.*.swp
*~

tags
cscope.out

.deps
.libs
*.hi
*.o
*.lo
*.la
*.loT
*.o.cmd
*.tmp_versions
*~
*.bak
*.BAK
*.orig
vssver.scc
*.swp
MT
{arch}
.arch-ids
,
*.class
*.prof
.DS_Store
*.pyc

*.pyo
*#
.cvsignore
Thumbs.db
autom4te.cache
Makefile
Makefile.in
INSTALL
.libs
.deps
aclocal.m4
autom4te.cache
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
install-sh
libtool
ltmain.sh
missing
stamp-h1
depcomp

m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4

wocky/*-signals-marshal.*

tests/test-report.xml
tests/wocky-xmpp-connection-test

examples/wocky-connect
