.*.swo
.*.swp
*~
.#*
core
tags
TAGS
cscope.out

.deps
.libs
*.hi
*.o
*.lo
*.la
*.loT
*.o.cmd
*.tmp_versions
*~
*.bak
*.BAK
*.orig
vssver.scc
*.swp
MT
{arch}
.arch-ids
,
*.class
*.prof
.DS_Store
*.pyc
*.pyo
*#
*.gcno
*.gcda
valgrind.*.log

.cvsignore
Thumbs.db
autom4te.cache
Android.mk
Makefile
Makefile.in
INSTALL
.libs
.deps
aclocal.m4
autom4te.cache
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
configure.lineno
gtk-doc.make
install-sh
libtool
ltmain.sh
missing
stamp-h1
depcomp
sasl-test.db

m4/gtk-doc.m4
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4

wocky/*-signals-marshal.*
wocky/*-enumtypes.*
wocky/wocky-uninstalled.pc
wocky/wocky.pc

tests/sasl-test.db
tests/test-report.xml
tests/wocky-*-test
tests/wocky-dummy-xmpp-server
tests/wocky-test-sasl-auth
tests/*report.xml

# tests/certs/ca-0-cert.pem
# tests/certs/ca-0-key.pem
# tests/certs/exp-cert.pem # keep these hanging around as we'd have
# tests/certs/new-cert.pem # to build-dep on datefudge otherwise
# tests/certs/ca-1-cert.pem
# tests/certs/ca-1-key.pem
# tests/certs/ca-2-cert.pem
# tests/certs/ca-2-key.pem
# tests/certs/exp-key.pem
# tests/certs/new-key.pem
# tests/certs/rev-cert.pem
# tests/certs/rev-key.pem
# tests/certs/ss-cert.pem
# tests/certs/ss-key.pem
# tests/certs/tls-cert.pem
# tests/certs/tls-key.pem
# tests/certs/unknown-ca-key.pem
# tests/certs/unknown-cert.pem
# tests/certs/unknown-key.pem

tests/certtool
tests/tardis
# tests/certs/cas/*

examples/wocky-dump-certificates
examples/wocky-register
examples/wocky-receive-messages
examples/wocky-send-message
examples/wocky-unregister

coverage/

docs/reference/*-decl.txt
docs/reference/*-decl-list.txt
docs/reference/*-sections.txt
docs/reference/*-undeclared.txt
docs/reference/*-undocumented.txt
docs/reference/*-unused.txt
docs/reference/*.args
docs/reference/*.hierarchy
docs/reference/*.interfaces
docs/reference/*.prerequisites
docs/reference/*.signals
docs/reference/*.stamp
docs/reference/html
docs/reference/tmpl/*.sgml
docs/reference/wocky-scan.c
docs/reference/wocky.types
docs/reference/xml

/wocky-?.*.*/
/wocky-?.*.*.tar.gz

/FIXME.out
